{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ course.subject_id }} {{ course.code }} - {{ course.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}

    <script>
    function utcTimestampToLocalizedString(timestamp){
        const date = new Date(timestamp);
        const formattedDate = date.toLocaleString();
        return "Last updated: " + formattedDate;
    }

    window.onload = function() {
        document.getElementById("last_updated").innerHTML = utcTimestampToLocalizedString("{{ course.last_updated }}");
    }
    </script>

    <p><strong>Prerequisites:</strong> {{ course.prerequisites }}</p>
    <p><strong>Credits:</strong> {{ course.credits }}</p>
    <p><strong>Available:</strong> {{ course.is_available }}</p>
    <p><strong>BCIT URL:</strong> <a href="{{ course.url }}">{{ course.url}}</a></p>

    <h3>Offerings</h3>
    <table>
        <thead>
        <tr>
            <th>Term</th>
            <th>CRN</th>
            <th>Instructor</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Campus</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        {% for offering in course.offerings %}
            <tr>
                <td>{{ offering.term.season }} {{ offering.term.year}}</td>
                <td>{{ offering.crn }}</td>
                <td>{{ offering.instructor }}</td>
                <td>{{ offering.price }}</td>
                <td>{{ offering.duration }}</td>
                <td>{{ offering.campus }}</td>
                <td>{{ offering.status }}</td>
            </tr>
        {% endfor %}
    </table>
{% block updated_at %}
    <p id="last_updated" style="text-align: right; font-size: smaller; font-style: italic;"></p>
{% endblock %}
{% endblock %}
