html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #125738; margin: 1rem 0; }
a { color: #125738; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: #125738; color: #E7E8EB; display: flex; align-items: center; padding: 0 0.5rem;}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #3d3d3d;
    color: #E7E8EB;
  }
  body {
    background-color: #1B1B1B;
    color: #E7E8EB;
  }
  h1 { color: #E7E8EB; }
  a { color: #8ac99e; }
  .content > header h1 { color: #8ac99e; }
  .content input, .content textarea { background: #2a2a2a; color: #E7E8EB; }
}
@media (prefers-color-scheme: light) {
  nav h1 { color: #E7E8EB; }
  nav a { color: #8ac99e; }
}
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #caf6ce; border: 1px solid #8ac99e; color: #2a2a2a; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }