<!doctype html>
<title>{% block title %}{% endblock %} - BCIT Flex</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>BCIT Flex Courses</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<div class="lower-nav">
    <ul class="lower-nav">
        <li id="courses"><a href="{{ url_for('course.index') }}">Courses</a></li>
        <li id="programs"><a href="{{ url_for('program.index') }}">Programs</a></li>
    </ul>
</div>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<footer>
  <p>Made by Jonathan Biemond | Source: <a href="https://github.com/jonbiemond/bcit-flex">GitHub</a></p>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL path
        const currentPath = window.location.pathname;

        // Define an object to map URLs to the corresponding list item IDs
        const urlToIdMap = {
            '/courses': 'courses',
            '/programs': 'programs'
        };

        // Find the list item associated with the current page and add the "active" class
        const activePage = urlToIdMap[currentPath];
        if (activePage) {
            const activeListItem = document.getElementById(activePage);
            if (activeListItem) {
                activeListItem.classList.add('active');
            }
        }
    });
</script>
